html, body {
 height: 100%
}

/* WELCOME PAGE */
.carousel {
    text-align: center;
}

.imageContainer {
    position: relative;
    margin-top: 20px;
}
  
.optionImages {
    display: block;
    height: 300px;
    width: 340px;
    border-radius: 50%;
    border: double #b9b2b5 5px;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 300px;
    width: 340px;
    opacity: .09;
    transition: .3s ease;
    background-color: #f8f8fe;
    border-radius: 60%;
    border: double #b9b2b5 5px;
}
  
.imageContainer:hover .overlay {
    opacity: 1;
}
  
.icon {
    color: #b9b2b5;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.fa-user:hover {
    color: #b9b2b5;
}

.fa-user {
    color: #b9b2b5;
}

.fa-file:hover {
    color: #b9b2b5;
}

.fa-file {
    color: #b9b2b5;
}

.fa-address-book:hover {
    color: #b9b2b5;
}

.fa-address-book {
    color: #b9b2b5;
}

#welcomePageText {
    text-align: center;
    margin-top: 20px;
    font-family: 'Petit Formal Script', cursive;
    font-size: 20px;
}

body {
    background-color: #f8f8fe;
}

.welcomePageJumbo {
    background-color: #b9b2b5;
    border-bottom: #f4d5e3 double 8px;
}

.jumbotronText {
    color: #f8f8fe;
    font-family: 'Londrina Sketch', cursive;
    font-size: 100px;
    text-align: center;
}
/* */

/* NAV BAR */
.navbar {
    background-color: #b9b2b5;
    border-bottom: #f8f8fe 7px double;
    height: 75px;
}

.navbar-brand {
    color: #f8f8fe;
    font-size: 50px;
    font-family: 'Londrina Sketch', cursive;
}

.navbar-brand:hover {
    color: #f4d5e3;
    font-size: 50px;
    font-family: 'Londrina Sketch', cursive;
}

.nav-item {
    color: #f8f8fe;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

.nav-item:hover {
    color: #f4d5e3;
    font-size: 30px;
    font-family: 'Londrina Sketch', cursive;
}
/* */

/* FOOTER */
.page-footer {
    margin: 0 auto;
    width:100%;
    height:auto;
    overflow:hidden;
    position: fixed;
    bottom: 0px;
    background-color: #f4d5e3;
    border-top: #b9b2b5 7px double;
    text-align: center;
}

.fab {
    color: #f8f8fe;
    font-size: 30px;
    padding-top: 10px;
}

#copyrightText {
    color: #f8f8fe;
    font-size: 10px;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 10px;
}
/* */

/* ABOUT PAGE */
.helloNameJumbo {
    background-image: url("../images/aboutpage.jpg");
    background-size: cover;
    height: 250px;
    border-bottom: #f8f8fe 7px double;
}

.helloNameLogo {
    color: #f8f8fe;
    font-family: 'Petit Formal Script', cursive;
    font-size: 90px;
    text-align: center;
}

.professionalPic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: solid #b9b2b5 5px;
    margin-top: 20px;
    text-align: center;
}

#aboutMeBio {
    font-family: 'Quicksand', sans-serif;
    color: #b9b2b5;
    font-size: 20px;
    margin-top: 40px;
}

.downloadIcon {
    color: #b9b2b5;
    text-align: center;
    font-size: 30px;
}

.downloadIconText {
    color: #b9b2b5;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 10px;
}
/* */

/* PROJECT PAGE */
#projectSlideContainer {
    margin-top: 70px;
}

#carouselExampleIndicators {
    border: 5px double #b9b2b5; 
}

.d-block {
    height: 400px;
    width: 500px;
}
/* */

/* CONTACT PAGE */
.typeform-widget {
    margin-top: 40px;
    border: #f4d5e3 7px double;

}
/* */